#home_page_container {
  position: relative;
  width: 100%; }
  #home_page_container #top_bar {
    width: 100%;
    height: 40px;
    font-size: 24px;
    color: white;
    background-color: #4b98c6; }
  #home_page_container #filterbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #254476;
    height: 50px;
    position: relative;
    z-index: 2; }
    #home_page_container #filterbar .filterbar-select {
      margin-top: 10px;
      width: 200px; }
      #home_page_container #filterbar .filterbar-select.select-disabled:hover {
        cursor: not-allowed; }
      #home_page_container #filterbar .filterbar-select.select-disabled .filterbar-title {
        color: #999; }
      #home_page_container #filterbar .filterbar-select:hover {
        cursor: pointer; }
      #home_page_container #filterbar .filterbar-select.filterbar-with-buttons .filterbar-title {
        display: flex;
        justify-content: space-between; }
        #home_page_container #filterbar .filterbar-select.filterbar-with-buttons .filterbar-title .filter-buttons-container {
          display: flex;
          align-items: center; }
          #home_page_container #filterbar .filterbar-select.filterbar-with-buttons .filterbar-title .filter-buttons-container .filter-button {
            box-sizing: border-box;
            height: 75%;
            padding: 0 10px;
            border-right: 1px solid #666; }
            #home_page_container #filterbar .filterbar-select.filterbar-with-buttons .filterbar-title .filter-buttons-container .filter-button:hover {
              opacity: .8;
              cursor: pointer; }
            #home_page_container #filterbar .filterbar-select.filterbar-with-buttons .filterbar-title .filter-buttons-container .filter-button:last-of-type {
              border: 0; }
      #home_page_container #filterbar .filterbar-select .filterbar-title {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        background-color: white;
        border: 1px solid #4b98c6;
        font-size: 18px;
        color: #254476;
        padding-left: 10px; }
      #home_page_container #filterbar .filterbar-select .filterbar-options {
        width: 100%;
        background: white;
        border: 1px solid #4b98c6; }
        #home_page_container #filterbar .filterbar-select .filterbar-options .filterbar-li {
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-size: 15px; }
          #home_page_container #filterbar .filterbar-select .filterbar-options .filterbar-li:hover {
            background-color: #4b98c6;
            color: white;
            cursor: pointer; }
    #home_page_container #filterbar #reset_arrow,
    #home_page_container #filterbar #sliders_thumb {
      width: 30px;
      height: 60%;
      align-self: center;
      right: 25px; }
      #home_page_container #filterbar #reset_arrow:hover,
      #home_page_container #filterbar #sliders_thumb:hover {
        opacity: .8; }
      #home_page_container #filterbar #reset_arrow.disabled,
      #home_page_container #filterbar #sliders_thumb.disabled {
        opacity: .4; }
  #home_page_container #map {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
    transition: all .75s ease-in-out; }
    #home_page_container #map.sidebar-open {
      width: calc(100% - 320px); }
    #home_page_container #map .info-window {
      display: flex;
      align-items: center; }
      #home_page_container #map .info-window .info-left img {
        height: 80px;
        width: auto; }
        @media (max-width: 1000px) {
          #home_page_container #map .info-window .info-left img {
            height: 40px; } }
      #home_page_container #map .info-window .info-right {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        font-size: 12px; }
        #home_page_container #map .info-window .info-right h3 {
          font-size: 16px;
          margin-bottom: -2px; }
        #home_page_container #map .info-window .info-right div {
          margin-left: 0;
          display: flex;
          align-items: center; }
          @media (max-width: 1000px) {
            #home_page_container #map .info-window .info-right div {
              display: none; } }
        #home_page_container #map .info-window .info-right a {
          font-size: 14px; }

#sidebar {
  position: absolute;
  right: 0;
  width: 320px;
  height: 100%;
  top: 0;
  display: flex;
  overflow-x: hidden; }
  #sidebar.open #search_results_container {
    margin-left: -320px; }
  #sidebar.open #sidebar_filter_container {
    right: 0; }

.sidebar-container {
  position: absolute;
  top: calc(40px + 50px);
  z-index: 2;
  max-height: 600px;
  overflow: auto;
  background-color: rgba(75, 152, 198, 0.9);
  border: 1px solid #666;
  width: 320px;
  transition: all 0.75s ease-in-out; }
  .sidebar-container#search_results_container {
    position: absolute; }
  .sidebar-container #search_results_menu {
    padding: 10px 0;
    font-size: 24px;
    color: #254476;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: right;
    transition: all 0.75s ease-in-out; }
    .sidebar-container #search_results_menu #results_menu_filter {
      position: relative; }
      .sidebar-container #search_results_menu #results_menu_filter #results_menu_button {
        margin-right: 10px; }
        .sidebar-container #search_results_menu #results_menu_filter #results_menu_button:hover {
          cursor: pointer;
          opacity: .8; }
      .sidebar-container #search_results_menu #results_menu_filter #results_menu_filter_options {
        flex-direction: column;
        background-color: #4b98c6;
        position: absolute;
        right: 0;
        top: 38px;
        width: 120px;
        padding: 5px;
        display: none; }
        .sidebar-container #search_results_menu #results_menu_filter #results_menu_filter_options.open {
          display: flex; }
        .sidebar-container #search_results_menu #results_menu_filter #results_menu_filter_options .filter-option {
          font-size: 13px;
          color: #fff;
          margin-bottom: 5px; }
          .sidebar-container #search_results_menu #results_menu_filter #results_menu_filter_options .filter-option:last-child {
            margin-bottom: 0; }
          .sidebar-container #search_results_menu #results_menu_filter #results_menu_filter_options .filter-option:hover {
            background-color: #254476;
            color: #4b98c6;
            cursor: pointer; }
  .sidebar-container .community-preview-container {
    right: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #fff;
    margin-bottom: 0; }
    .sidebar-container .community-preview-container:last-child {
      margin-bottom: 0; }
    .sidebar-container .community-preview-container.highlighted {
      background: yellow; }
    .sidebar-container .community-preview-container .preview-image {
      width: 100%;
      height: 150px;
      background-size: cover;
      background-position: center; }
    .sidebar-container .community-preview-container .preview-main {
      padding: 5px;
      display: flex;
      flex-direction: column; }
      .sidebar-container .community-preview-container .preview-main .preview-title {
        font-size: 16px;
        margin: 0; }
      .sidebar-container .community-preview-container .preview-main .preview-address {
        font-size: 14px;
        margin-bottom: 10px; }
      .sidebar-container .community-preview-container .preview-main .preview-info {
        display: flex;
        font-size: 12px; }
        .sidebar-container .community-preview-container .preview-main .preview-info .preview-info-left {
          display: flex;
          flex-direction: column;
          width: 60%; }
          .sidebar-container .community-preview-container .preview-main .preview-info .preview-info-left .preview-bedbath {
            display: flex; }
        .sidebar-container .community-preview-container .preview-main .preview-info .preview-info-right {
          display: flex;
          flex-direction: column;
          width: 40%; }
    .sidebar-container .community-preview-container .preview-bottom {
      background-color: #254476;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      color: rgba(255, 255, 255, 0.9); }
      .sidebar-container .community-preview-container .preview-bottom a {
        color: #fff;
        text-decoration: none; }
        .sidebar-container .community-preview-container .preview-bottom a:hover {
          color: rgba(255, 255, 255, 0.7); }
  .sidebar-container#sidebar_filter_container {
    right: -320px;
    transition: all 0.75s ease-in-out; }
    .sidebar-container#sidebar_filter_container .sidebar-title {
      width: 100%;
      text-align: center;
      font-size: 22px;
      margin-top: 30px;
      color: #254476;
      font-weight: 900; }
    .sidebar-container#sidebar_filter_container .sidebar-text {
      width: 240px;
      margin: 15px auto; }
    .sidebar-container#sidebar_filter_container .md-cell {
      width: 300px; }
    .sidebar-container#sidebar_filter_container #filter_pets_container {
      display: flex; }
    .sidebar-container#sidebar_filter_container .multi-filter {
      width: 80%;
      margin: 20px auto;
      border-bottom: 1px solid rgba(37, 68, 118, 0.4);
      position: relative; }
      .sidebar-container#sidebar_filter_container .multi-filter:hover {
        cursor: pointer; }
      .sidebar-container#sidebar_filter_container .multi-filter .multi-filter-title {
        color: rgba(37, 68, 118, 0.8);
        display: flex;
        justify-content: space-between; }
        .sidebar-container#sidebar_filter_container .multi-filter .multi-filter-title .multi-count {
          text-align: center;
          height: 20px;
          width: 20px;
          border-radius: 3px;
          background: #254476;
          color: white;
          margin-right: 5px; }
      .sidebar-container#sidebar_filter_container .multi-filter .multi-filter-options {
        background-color: white;
        width: 80%;
        position: absolute;
        z-index: 3;
        top: 5px;
        max-height: 200px;
        overflow: auto; }
        .sidebar-container#sidebar_filter_container .multi-filter .multi-filter-options .multi-filter-option {
          display: flex;
          align-items: center;
          padding: 8px 5px; }
          .sidebar-container#sidebar_filter_container .multi-filter .multi-filter-options .multi-filter-option:hover {
            background: red;
            color: white; }
          .sidebar-container#sidebar_filter_container .multi-filter .multi-filter-options .multi-filter-option .multi-checkbox {
            height: 15px;
            width: 15px;
            border: 1px solid black;
            border-radius: 3px;
            margin-right: 10px; }
            .sidebar-container#sidebar_filter_container .multi-filter .multi-filter-options .multi-filter-option .multi-checkbox.checked {
              background-color: green; }
    .sidebar-container#sidebar_filter_container .slider-container {
      width: 80%;
      margin: 15px auto; }
      .sidebar-container#sidebar_filter_container .slider-container .slider-label {
        margin-bottom: 20px; }
      .sidebar-container#sidebar_filter_container .slider-container .noUi-target {
        top: 15px;
        height: 4px; }
        .sidebar-container#sidebar_filter_container .slider-container .noUi-target .noUi-base .noUi-origin .noUi-handle {
          height: 0;
          width: 0;
          left: -1px; }
          .sidebar-container#sidebar_filter_container .slider-container .noUi-target .noUi-base .noUi-origin .noUi-handle:before {
            display: none; }
          .sidebar-container#sidebar_filter_container .slider-container .noUi-target .noUi-base .noUi-origin .noUi-handle .noUi-tooltip {
            z-index: 5;
            font-size: 8px;
            height: 22px;
            width: 22px;
            border-radius: 50%;
            padding: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -25px;
            background: #254476;
            color: white;
            border: 0; }
            .sidebar-container#sidebar_filter_container .slider-container .noUi-target .noUi-base .noUi-origin .noUi-handle .noUi-tooltip:after {
              position: absolute;
              z-index: 4;
              top: 20px;
              content: "";
              height: 10px;
              width: 10px;
              left: 4px;
              border-top: 7px solid #254476;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent; }
          .sidebar-container#sidebar_filter_container .slider-container .noUi-target .noUi-base .noUi-origin .noUi-handle:after {
            display: none; }
        .sidebar-container#sidebar_filter_container .slider-container .noUi-target .noUi-base .noUi-connect {
          background: #4b98c6; }

/*! nouislider - 9.2.0 - 2017-01-11 10:35:35 */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  -webkit-transition: top .3s,right .3s,bottom .3s,left .3s;
  transition: top .3s,right .3s,bottom .3s,left .3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-base, .noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB; }

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms; }

.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB; }

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed; }

.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

.noUi-value {
  position: absolute;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-large, .noUi-marker-sub {
  background: #AAA; }

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px; }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

#root {
  width: 100%;
  max-width: 100%; }
  #root #mobile_page_container {
    background: #4b98c6; }
    #root #mobile_page_container #mobile_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%; }
      #root #mobile_page_container #mobile_container > div {
        width: 100%; }
      #root #mobile_page_container #mobile_container #mobile_header {
        display: flex;
        width: 100%;
        justify-content: space-between; }
        #root #mobile_page_container #mobile_container #mobile_header #mobile_menu {
          height: 40px;
          width: 25px;
          margin-left: 10px; }
          #root #mobile_page_container #mobile_container #mobile_header #mobile_menu .hamburger-bar {
            width: 90%;
            height: 2px;
            margin-top: 5px;
            background-color: #000; }
        #root #mobile_page_container #mobile_container #mobile_header #mobile_header_title {
          width: 100%;
          text-align: center; }
      #root #mobile_page_container #mobile_container .first-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%; }
        #root #mobile_page_container #mobile_container .first-page #mobile_logo {
          width: 80%;
          max-width: 500px;
          margin: 100px auto 5px; }
        #root #mobile_page_container #mobile_container .first-page .filterbar-select {
          width: 80%;
          border-bottom: 1px solid rgba(37, 68, 118, 0.4);
          position: relative;
          margin-bottom: 200px; }
          #root #mobile_page_container #mobile_container .first-page .filterbar-select:hover {
            cursor: pointer; }
          #root #mobile_page_container #mobile_container .first-page .filterbar-select .filterbar-title {
            color: rgba(37, 68, 118, 0.8);
            display: flex;
            justify-content: space-between; }
          #root #mobile_page_container #mobile_container .first-page .filterbar-select .filterbar-options {
            background-color: white;
            width: 80%;
            position: absolute;
            z-index: 3;
            top: -30px;
            max-height: 200px;
            overflow: auto; }
            #root #mobile_page_container #mobile_container .first-page .filterbar-select .filterbar-options .filterbar-li {
              display: flex;
              align-items: center;
              padding: 3px 5px; }
              #root #mobile_page_container #mobile_container .first-page .filterbar-select .filterbar-options .filterbar-li:hover {
                background: red;
                color: white; }
      #root #mobile_page_container #mobile_container #mobile_list_and_map_container {
        position: relative; }
        #root #mobile_page_container #mobile_container #mobile_list_and_map_container .sidebar-container#search_results_container {
          width: 100%; }
          #root #mobile_page_container #mobile_container #mobile_list_and_map_container .sidebar-container#search_results_container.mobile {
            position: relative;
            margin-top: -50px;
            width: 100%; }
            #root #mobile_page_container #mobile_container #mobile_list_and_map_container .sidebar-container#search_results_container.mobile .community-preview-container {
              width: 100%;
              max-width: 500px;
              margin: 0 auto; }
              @media (min-width: 501px) {
                #root #mobile_page_container #mobile_container #mobile_list_and_map_container .sidebar-container#search_results_container.mobile .community-preview-container .preview-image {
                  height: 250px; } }
              @media (min-width: 401px) {
                #root #mobile_page_container #mobile_container #mobile_list_and_map_container .sidebar-container#search_results_container.mobile .community-preview-container .preview-image {
                  height: 200px; } }
        #root #mobile_page_container #mobile_container #mobile_list_and_map_container #map {
          width: 100%;
          height: 500px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0; }
  body div {
    box-sizing: border-box; }
  body .box {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 0 5px; }
    body .box.light {
      background-color: white;
      border: 1px solid #666; }
    body .box.dark {
      background-color: #222;
      border: 1px solid #999; }
    body .box.no-pets {
      visibility: hidden; }
    body .box.paw {
      background-color: #999;
      border: 1px solid black;
      margin-right: 4px; }
