#root {
    width: 100%;
    max-width: 100%;

    #mobile_page_container {
        background: $color1;

        #mobile_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            &>div {
                width: 100%;
            }

            #mobile_header {
                display: flex;
                width: 100%;
                justify-content: space-between;

                #mobile_menu {
                    height: 40px;
                    width: 25px;
                    margin-left: 10px;

                    .hamburger-bar {
                        width: 90%;
                        height: 2px;
                        margin-top: 5px;
                        background-color: #000;
                    }
                }

                #mobile_header_title {
                    width: 100%;
                    text-align: center;
                }
            }

            .first-page {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;

                #mobile_logo {
                    width: 80%;
                    max-width: 500px;
                    margin: 100px auto 5px;
                }

                .filterbar-select {
                    width: 80%;
                    border-bottom: 1px solid transparentize($color2, .6);
                    position: relative;
                    margin-bottom: 200px;

                    &:hover {
                        cursor: pointer;
                    }

                    .filterbar-title {
                        color: transparentize($color2, .2);
                        display: flex;
                        justify-content: space-between;
                    }

                    .filterbar-options {
                        background-color: white;
                        width: 80%;
                        position: absolute;
                        z-index: 3;
                        top: -30px;
                        max-height: 200px;
                        overflow: auto;

                        .filterbar-li {
                            display: flex;
                            align-items: center;
                            padding: 3px 5px;

                            &:hover {
                                background: red;
                                color: white;
                            }
                        }
                    }
                }
            }

            #mobile_list_and_map_container {
                position: relative;

                .sidebar-container {
                    &#search_results_container {
                        width: 100%;

                        &.mobile {
                            position: relative;
                            margin-top: -50px;
                            width: 100%;

                            .community-preview-container {
                                width: 100%;
                                max-width: 500px;
                                margin: 0 auto;

                                .preview-image {
                                    @media (min-width: 501px) {
                                        height: 250px;
                                    }
                                    @media (min-width: 401px) {
                                        height: 200px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
