$sidebarTransition: .75s;

#sidebar {
    position: absolute;
    right: 0;
    width: 320px;
    height: calc(100% - 40px);
    top: 40px;
    display: flex;
    overflow-x: hidden;
    background-color: $color3;

    &.open {
        #search_results_container {
            margin-left: -320px;
        }
        #sidebar_filter_container {
            right: 0;
        }
    }
}

.sidebar-container {
    position: absolute;
    margin-top: -40px;
    top: calc(#{$topbarHeight} + #{$filterbarHeight});
    z-index: 2;
    max-height: $mapHeight;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #666;
    border-bottom: 0;
    width: 320px;
    transition: all $sidebarTransition ease-in-out;

    .text-box {
        text-align: center;

        input {
            width: 80%;
            background-color: transparent;
            margin-left: auto;
            margin-right: auto;
            border: 0;
            border-bottom: 1px solid transparentize($color2, .6);
            font-size: 15px;
            color: transparentize($color2, .2);

            &:focus {
                outline: 1px;
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: transparentize($color2, .2);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: transparentize($color2, .2);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: transparentize($color2, .2);
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: transparentize($color2, .2);
            }
        }
    }

    #distance_slider_container {
        width: 80%;
        margin: 5px auto;

        #distance_slider {
            display: none;
            width: 80%;
            margin: 0 auto;
        }
    }

    // &.open {
    //     &#sidebar_filter_container {
    //         right: 0;
    //     }
    //     &#search_results_container {
    //         right: 320px;
    //     }
    // }

    &#search_results_container {
        position: absolute;
    }

    #search_results_menu {
        padding: 10px 0;
        font-size: $headerFontSize;
        color: $color2;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        position: relative;
        text-align: right;
        transition: all $sidebarTransition ease-in-out;

        #search_menu_title {
            font-family: Oswald, sans-serif;
        }

        #results_menu_filter {
            position: relative;

            #results_menu_button {
                margin-right: 10px;

                img {
                    height: 15px;
                    width: auto;
                }

                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }
            }

            #results_menu_filter_options {
                flex-direction: column;
                background-color: $color1;
                position: absolute;
                right: 0;
                top: 38px;
                width: 120px;
                padding: 5px;
                display: none;

                &.open {
                    display: flex;
                }

                .filter-option {
                    font-size: 13px;
                    color: #fff;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        background-color: $color2;
                        color: $color1;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #filter_pets_label {
        width: 80%;
        margin: 20px auto -40px;
        color: transparentize($color2, .2);
    }

    #filter_pets_container {
        .md-btn--icon {
            padding-left: 0;
        }
        .pet-icon {
            height: 50px;
            width: auto;
            margin-left: -25px;
            margin-right: 20px;
        }
    }

    .community-preview-container {
        right: 0;
        width: 320px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        background-color: #fff;
        margin-bottom: 0;

        &:last-child {
            margin-bottom: 0;
        }

        &.highlighted {
            background: #ffffef;
        }

        &:hover {
            cursor: pointer;
        }

        .preview-image {
            width: 100%;
            height: 150px;
            background-size: cover;
            background-position: center;
        }

        .preview-main {
            padding: 5px;
            display: flex;
            flex-direction: column;

            .preview-title {
                font-family: Oswald, sans-serif;
                font-size: 17px;
                margin: 0;
            }

            .preview-address {
                font-size: 14px;
                margin-bottom: 10px;
            }

            .preview-info {
                display: flex;
                font-size: 14px;

                .preview-info-left {
                    display: flex;
                    flex-direction: column;
                    width: 60%;

                    .preview-bedbath {
                        display: flex;
                    }

                    .preview-pets {
                        margin-left: 5px;
                    }
                }

                .preview-info-right {
                    display: flex;
                    flex-direction: column;
                    width: 40%;

                    .specials {
                        font-weight: bold;
                    }
                }
            }
        }

        .preview-bottom {
            background-color: #5DA2CC;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            color: transparentize(#fff, .1);

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: transparentize(#fff, .3);
                }
            }
        }
    }

    &#sidebar_filter_container {
        right: -320px;
        transition: all $sidebarTransition ease-in-out;
        background: $color3;

        .sidebar-title {
            width: 100%;
            text-align: center;
            font-size: 22px;
            margin-top: 30px;
            color: $color2;
            font-weight: 900;
            font-family: Oswald, sans-serif;
        }

        .sidebar-text {
            width: 240px;
            margin: 15px auto;
        }

        .md-cell {
            width: 300px;
        }

        #filter_pets_container {
            display: flex;
            width: 80%;
            max-width: 500px;
            margin: 35px auto;
        }

        .multi-filter {
            width: 80%;
            margin: 20px auto;
            border-bottom: 1px solid transparentize($color2, .6);
            position: relative;
            transition: all 1s ease-in-out;

            &:hover {
                cursor: pointer;
            }

            .multi-filter-title {
                color: transparentize($color2, .2);
                display: flex;
                justify-content: space-between;

                .multi-count {
                    text-align: center;
                    height: 20px;
                    width: 20px;
                    border-radius: 3px;
                    background: $color2;
                    color: white;
                    margin-right: 5px;
                }
            }

            .multi-filter-options {
                width: 80%;
                z-index: 3;
                top: 5px;
                overflow: auto;
                transition: all .3s ease-in-out;
                height: 0;

                &.open {
                    height: 200px;
                }

                .multi-filter-option {
                    display: flex;
                    align-items: center;
                    padding: 8px 5px;

                    &:hover {
                        background: red;
                        color: white;
                    }

                    .multi-checkbox {
                        height: 15px;
                        width: 15px;
                        border: 1px solid black;
                        border-radius: 3px;
                        margin-right: 10px;

                        &.checked {
                            background-color: green;
                        }
                    }
                }
            }
        }

        .slider-container {
            width: 80%;
            margin: 15px auto 40px;

            .slider-label {
                color: transparentize($color2, .2);
                margin-bottom: 20px;
            }

            .noUi-target {
                top: 15px;
                height: 4px;

                .noUi-base {
                    .noUi-origin {
                        .noUi-handle {
                            height: 0;
                            width: 0;
                            left: -1px;

                            &:before {
                                display: none;
                            }

                            .noUi-tooltip {
                                z-index: 5;
                                font-size: 8px;
                                height: 26px;
                                width: 26px;
                                border-radius: 50%;
                                padding: 0;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                top: -30px;
                                background: $rangeSliderIconBg;
                                color: $rangeSliderTextColor;
                                border: 0;

                                &:after {
                                    position: absolute;
                                    z-index: 1;
                                    top: 20px;
                                    content: "";
                                    height: 10px;
                                    width: 10px;
                                    left: 2px;
                                    border-top: 11px solid $rangeSliderIconBg;
                                    border-left: 11px solid transparent;
                                    border-right: 11px solid transparent;
                                }
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                    .noUi-connect {
                        background: $color1;
                    }
                }
            }
        }
    }
}
